body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e3333;
}
button {
  outline: none;
}
.wrapper {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  align-items: flex-start; /* permet d'aligner le sticky par rapport au conteneur */
}
.flex {
  display: flex;
}

.top {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
}
.top .logo {
  padding-top: 9px;
  width: 13%;
}

.restaurant-actu {
  padding: 30px 0;
}
.restaurant-actu h1 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 5px;
}
.restaurant-actu p {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
}
.restaurant-actu .description {
  flex: 1;
  margin-right: 30px;
}

.restaurant-actu img {
  object-fit: cover;
  overflow: hidden;
  width: 350px;
  height: 230px;
  border-radius: 5px;
}

.content {
  background-color: #f4f5f5;
}

.meals {
  flex: 1;
  padding: 50px 0;
}

.meals .meals-items {
  display: flex;
  flex-wrap: wrap;
}
.meals .meals-items h2 {
  width: 100%;
  color: #2e3333;
  font-weight: 600;
}
.meals .meals-items .meal-item {
  width: 42%;
  border-radius: 5px;
  height: 160px;
  background: #fff;
  margin: 0 20px 30px 0;
  padding: 20px 20px 0;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  transition-duration: 0.3s;
  min-width: 350px;
}
.meals .meals-items .meal-item:hover {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}
.meals .meals-items .meal-item .text {
  flex: 1;
  margin-right: 15px;
}
.meals .meals-items .meal-item .text h3 {
  color: #2e3333;
  font-weight: 400;
  margin: 0 0 10px 0;
  padding: 0;
}
.meals .meals-items .meal-item .text p {
  font-size: 0.9rem;
  color: #808484;
  line-height: 1.3rem;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  margin: 0 0 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.meals .meals-items .meal-item .text .price {
  color: #808484;
  font-size: 1.1rem;
}
.meals .meals-items .meal-item .text .popular {
  color: #ff8000;
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.feather {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.meals .meals-items .meal-item .picture img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.cart {
  width: 350px;
  position: sticky;
  top: 0;
  margin: 30px 0;
}
.cart .cart-box {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  background: #fff;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
}

.cart .cart-box .validate,
.cart .cart-box .disable {
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  background: #00cdbd;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}
.cart .cart-box .disable {
  cursor: not-allowed;
  background: #bac3c3;
  color: #8b9a9b;
}

.cart .cart-box .cart-empty {
  color: #868a8a;
  justify-content: center;
  padding: 3rem 0;
}

.items {
  padding: 0 15px;
}
.items > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.items .cart-items > div {
  align-items: center;
}
.items .cart-items .counter {
  display: flex;
  align-items: center;
}
.items .cart-items .counter span:first-child,
.items .cart-items .counter span:last-child {
  border: 2px solid #00cdbd;
  color: #00cdbd;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  cursor: pointer;
  outline: none;
}
.items .cart-items .counter span:nth-child(2) {
  margin: 0 5px;
}
.items .cart-items .cart-item-name {
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.items .cart-items,
.items .ship {
  border-bottom: 1px solid #d1d7d7;
  padding-bottom: 15px;
}
.items .total {
  font-size: 1.35rem;
  font-weight: 600;
}
.meals-items > div {
  margin: 20px 0;
}
